* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

ul a {
    color: black;
    text-decoration: none;
}

.s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s1 h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 58.59px;
}

.btn-1{
    margin-top: 30px;
    padding: 10px 30px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.s1-t {
    max-width: 600px;
}
.s2{
    padding: 30px 0;
}
.s2 h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: center;
    margin-bottom: 120px;
}

.s2-s {
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    color: linear-gradient( #B90160 2.23%, #2E3192 99.51%);
}
.card{
    width: 363px;
    border-radius: 20px;
    overflow: hidden;
}
summary::marker{
    content: ❗;
}
.card-t{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.s3{
    padding: 38px 0;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
  
}
.coment{
    width: 463px;
    background-color: white;
    padding: 27px;
    text-align: center;
    opacity: 1;
}
.coment img{
    margin-top: -80px;
    margin-bottom: 50px;
}
.line{
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(90.14deg, #D4145A 3.35%, #3D5BF5 91.43%);
    margin: 0 auto;
}
span{
    color: gray;
    margin-top: 20px;
}
.coment:nth-child(odd){
    opacity: 0.64;
}
.s3 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    flex-wrap: wrap;
}
#madar{
    width: 1180px;
    background-image: url(img/Group\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 250px;
    border-radius: 10px;
    border: 1px solid #A1A1A1;
    top: 200px;
    left: 200px;
    border-radius: 20px;
    display: none;
}
input{
    width: 362px;
    height: 50px;
    padding: 14px;
    background-color: white;
    border: 1px solid #A1A1A1;
    color: gray;
    border-radius: 12px;
    margin: 15px;
}
textarea{
    width: 760px;
    height: 81px;
    padding: 14px;
    border: 1px solid #A1A1A1;
    color: gray;
    border-radius: 12px;
    margin: 15px;
}
.btn2{
    margin-top: 30px;
    padding: 10px 30px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    border-radius: 9px;
    color: white;
    font-weight: 700;
}











@media(max-width:500px) {
    nav {
        display: none;
    }
    .cards{
        text-align: center;
    }
    .card{
        width: 400px;
    }
    .cards{
        width: 45%;
    }
    .s3 .container{
        width: 45%;
        flex-wrap: wrap;
    }
    .header_img{
        padding:  61px;
    }
    .card{
        width: 450px;
    }
    .madar{
        width: 635px;
        flex-wrap: wrap;
    }
}

@media(max-width:400px) {
    header img {
        padding: 0vh 40vh;
    }
    .main_img{
        display: none;
    }
    .s1{
        background-image: url(./img/подложка\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .btn-1{
        align-items: center;
    }
    .card{
        width: 360px;
    }
}